<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ title }}</title>
    
</head>
<header>
    
    <nav class="menu-bar">
        <ul class="navbar">
            <li><a href="{{ url_for('beats') }}">Beats</a></li>
            <li><a href="{{ url_for('beat_user', user_id=current_user.id) }}">My Beats</a></li>
            <li><a href="{{ url_for('my_profile') }}">My Profile</a></li>
            <li>
                <a href="#">About </a>
                <ul class="submenu">
                    <li><a href="{{ url_for('about') }}">Beat Layer</a></li>
                    <li><a href="{{ url_for('github') }}">GitHub</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('users_signout') }}" class="sign-out">Sign Out</a></li>
        </ul>
    </nav>
</header>

<body>

    

<main>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block main %}
    <!-- Content from the child templates will go here -->
    {% endblock %}
</main>

<footer>
    <img src="{{ url_for('static', filename='pictures/header.png') }}" alt="Beat Layer" class="header-image">
</footer>

</body>
</html>
