{% extends 'base.html' %}
{% block main %}
    <h1>New Beat</h1>
    <div class="form-container">
        <!-- Form to create new beats -->
        <form action="{{ url_for('beats_new') }}" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}  <!-- CSRF Token -->

            <!-- Title Field -->
            <div class="form-group">
                <label for="title">{{ form.title.label }}</label>
                {{ form.title(class="form-control") }}
                {% if form.title.errors %}
                    <!-- Display errors for title field -->
                    <div style="color: red;">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                <label for="genre">{{ form.genre.label }}</label>
                {{ form.genre(class="form-control") }}
                {% if form.genre.errors %}
                    <!-- Display errors for genre field -->
                    <div style="color: red;">
                        {% for error in form.genre.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                <label for="description">{{ form.description.label }}</label>
                {{ form.description(class="form-control") }}
                {% if form.description.errors %}
                    <!-- Display errors for description field -->
                    <div style="color: red;">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                <label for="audio_file">{{ form.audio_file.label }}</label>
                {{ form.audio_file(class="form-control") }}
                {% if form.audio_file.errors %}
                    <!-- Display errors for audio file field -->
                    <div style="color: red;">
                        {% for error in form.audio_file.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                {{ form.submit(class="btn btn-primary") }}

            </div>
        </form>
    </div>
{% endblock %}