{% extends 'base.html' %}
{% block main %}
    <div class="container">
        <h1>Beats</h1>
        <div class="genre-filter" style="margin-bottom: 20px;">
            <form action="{{ url_for('beats') }}" method="get">
                <select name="genre" id="genre-select" style="padding: 5px; margin-right: 10px;">
                    <option value="">Select Genre (All Beats)</option>
                    <option value="rock">Rock</option>
                    <option value="electronic">Electronic</option>
                    <option value="jazz">Jazz</option>
                </select>
                <input type="submit" value="Search">
            </form>
        </div>        
        <div class="content-box" style="background-color: #fff; padding: 15px; border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
            <!-- List of beats -->
            <ul style="list-style: none; padding: 0;">
                {% for beat in beats %}
                    <li>
                        <div class="beat-card" style="border: 1px solid #ddd; padding: 10px; border-radius: 5px; margin-bottom: 10px;">
                            <a href="{{ url_for('beat_detail', beat_id=beat.id) }}" style="text-decoration: none;">
                                <br><strong>Title: </strong>{{ beat.title }}</br>
                                <br><strong>Artist: </strong>{{ beat.artist }}</br>
                                <br><strong>Genre: </strong>{{ beat.genre }}</br>
                            </a>
                            <br><button onclick="likeSong('{{ beat.id }}', event)">Like</button>
                            <span id="like-count-{{ beat.id }}">{{ beat.like_count() }}</span> Likes</br>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <!-- Button to create a new beat -->
            <div class="button-container" style="text-align: center; margin-top: 20px;">
                <a href="{{ url_for('beats_new') }}" class="button" style="text-decoration: none;">Create New Beat</a>
            </div>
        </div>
    </div>

    {% if current_user.is_authenticated %}
    <script>
        function likeSong(beatId, event) {
            event.preventDefault(); // Prevents the default action (navigation)
            fetch('/like/' + beatId, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById('like-count-' + beatId).innerText = data.likes;
                    } else {
                        alert('You have already liked this song.');
                    }
                })
                .catch(error => {
                    alert('An error occurred.');
                });
        }
    </script>
    {% else %}
    <p>Please <a href="{{ url_for('login') }}">login</a> to like a beat.</p>
    {% endif %}
{% endblock %}
