{% extends 'base.html' %}
{% block main %}
    <div class="container">
        <h1>My Profile</h1>
        <div>
            <!-- User Profile -->
            <div class="profile-container">
                <div class="profile-image">
                    <img src="{{ url_for('static', filename='images/profile.png') }}" alt="Profile Image" style="width: 100px; height: 100px; border-radius: 50%;">
                </div>
                <div class="profile-info">
                    <h2>{{ user.user_id }}</h2>
                    <p>{{ user.email }}</p>
                </div>
            
            <!-- Button to create new beat -->
            <div class="button-container" style="text-align: center; margin-top: 20px;">
                <a href="{{ url_for('beats_new') }}" class="button" style="text-decoration: none;">Create New Beat</a>
            </div>
        </div>
    </div>
    
    
{% endblock %}