<!-- 
    File Name: reset_password.html
    Description: HTML page for resetting a user's password.
    Author: Parker Tonra
-->

{% extends 'base.html' %}
{% block main %}
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<div class="reset-password-container">
    <h1>Reset Password</h1>
    <form method="POST" action="{{ url_for('reset_with_token', token=token)}}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class_='form-control') }}
            {% if form.password.errors %}
                <div class="alert alert-danger">
                    {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class_='form-control') }}
            {% if form.confirm_password.errors %}
                <div class="alert alert-danger">
                    {% for error in form.confirm_password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{form.submit}}
        </div>
    </form>
</div>
{% endblock %}
