{% extends 'base.html' %}
{% block main %}
    <div class="form-container">
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <label for="id">{{ form.id.label }}</label>
            {{ form.id(class="form-control", size=30) }}
            <label for="email">{{ form.email_address.label }}</label>
            {{ form.email_address(class="form-control", size=30) }}
            <label for="passwd">{{ form.passwd.label }}</label>
            {{ form.passwd(class="form-control", size=30) }}
            <label for="passwd_confirm">{{ form.passwd_confirm.label }}</label>
            {{ form.passwd_confirm(class="form-control", size=30) }}
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}