body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212; /* Dark background */
  color: #ffffff; /* Light text */
  text-align: center;
  margin: 0;
  padding: 0;
}

input[type=text], select, input[type=submit] {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  display: inline-block;
}

header {
  font-family: 'Roboto', sans-serif;
  background-color: #333333;
  padding: 1px;
  text-align: center;
  font-size: 25px;
}

.header-image {
  width: 150px;
  height: 60px;
}

.container {
  width: 80%;
  margin: auto;
}

.center-both {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  width: 65px;
  height: 65px;
}

h1 {
  color: rgb(69, 69, 230);
  font-size: 60px;
  margin: auto;
}

h2 {
  color: rgba(69, 69, 230, 0.76);
  font-size: 40px;
  margin: auto;
  /* disable text wrapping */
  white-space: nowrap;
  /* center the text */
  text-align: center;
}

h3 {
  color: rgb(69, 69, 230);
  font-size: 22px;
  margin: auto;
  padding: 10px;
}

table, th, td {
  border: 1px solid #555555;
  padding: 5px;
  text-align: center;
}

th {
  background-color: darkblue;
  color: white;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flashes {
  color: red;
  font-size: 30px;
  margin: auto;
}

p {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 18px;
}

.odd_row, .even_row {
  background-color: #1a1a1a;
}

.button {
  background-color: darkblue;
  color: white;
  padding: 14px 20px;
  font-size: 24px;
  margin: 8px 10px;
  border: none;
  cursor: pointer;
}

/* Navigation Bar */
nav {
  margin: 10px 0;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: left;
  padding: 55;
  background-color: #333; /* Dark background for navbar */
}

.navbar li {
  position: relative;
}

.navbar li a {
  color: #EEE; /* light gray to contrast against dark background */
  text-decoration: none;
  transition: color 0.5s ease;
  padding: 14px 16px; /* Uniform padding for all navbar items */
  display: block; /* Makes the entire area clickable */
}

.navbar li a:hover {
  color: #6C63FF; /* purple to match header color */
}

.submenu {
  display: none; /* Hide the submenu */
  position: absolute;
  background-color: #333; /* Dark background for submenu */
  padding: 10px;
  border-radius: 5px;
  list-style: none;
  z-index: 100; /* Ensure submenu appears above other elements */
}

.submenu li {
  margin: 10px 0;
}

.submenu li a {
  color: white; /* Light color for submenu items */
  padding: 10px; /* Padding for submenu items */
}

.navbar li:hover .submenu {
  display: block; /* Show submenu on hover */
}

.menu-bar a.sign-out {
  color: white; /* Ensuring sign-out is visible */
}

footer {
    
    text-align: center;
    padding: -200px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.login-container {
  max-width: 500px; /* Adjust width as needed */
  margin: auto;
  padding: 24px;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
}

input[type="email"], input[type="password"], input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  background-color: #ccccccb7;
  border-radius: 4px;
}

input[type="text"]::placeholder {
  color: rgba(19, 18, 18, 0.761); 
}

.forgot-password {
  font-size: 0.9em;
  color: #06B2BA; /* Or your theme color */
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
}

.login-button, .signup-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #1f1ce6b6; /* Or your theme color */
  color: white;
  cursor: pointer;
  
}

.login-button {
  margin-top: 20px; /* To match the example image spacing */
}

.signup-button {
  background-color: #f4f4f48f; /* Light background for contrast */
  color: #131212; /* Dark text color */
}